  <div class="intro-statement">
    <div class="site-container">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
        <p>Research at the UC Davis College&nbsp;of&nbsp;Agricultural&nbsp;and&nbsp;Environmental&nbsp;Sciences is spread across three main areas of emphasis.</p>
        <img class="mx-auto shrink-0 sm:mx-0" src="/media/biketree.svg" alt="Tree illustration with bike at the trunk">
      </div>
    </div>
  </div>
  <div class="department_intro text-center">
    <div class="site-container">

      <div class="flex flex-col justify-center gap-8 sm:flex-row">
        <div class="sm:w-1/3">
          <div class="greenwash">
            <img class="mx-auto" src="/media/agsciences-icon.svg" alt="" aria-hidden="true"/>
          </div>
          <p class="color-agscience"><b>Agricultural Sciences</b></p>
          <ul class="no-list-style">
            <li>Animal science</li>
            <li>Biological and Agricultural Engineering</li>
            <li>Entomology and nematology</li>
            <li>Plant pathology</li>
            <li>Plant sciences</li>
            <li>Viticulture and enology</li>
          </ul>
        </div>
        <div class="sm:w-1/3">
          <div class="bluewash">
          <img class="mx-auto" src="/media/envsciences-icon.svg" alt="" aria-hidden="true"/>
        </div>
          <p class="color-envscience"><b>Environmental Sciences</b></p>
          <ul class="no-list-style">
            <li>Environmental science and policy</li>
            <li>Environmental toxicology</li>
            <li>Land, air and water resources</li>
            <li>Wildlife, fish and conservation biology</li>
          </ul>
        </div>
        <div class="sm:w-1/3">
          <div class="yellowwash">
          <img class="mx-auto" src="/media/humansocialsciences-icon.svg" alt="" aria-hidden="true"/>
        </div>
          <p class="color-humansocialscience"><b>Human and Social Sciences</b></p>
          <ul class="no-list-style">
            <li>Agricultural and resource economics</li>
            <li>Food science and technology</li>
            <li>Human ecology</li>
            <li>Nutrition</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
